<{include file="public/header.htm"}>
<link rel="stylesheet" type="text/css" href="<{$res}>/css/issue_article.css">
<script src="<{$root}>/public/js/ajax3.0.js" type="text/javascript" charset="utf-8"></script>
<{include file="public/head.htm"}>

	<body id="body">
		<div class="main">
			<div class="right">
				<div class="right_top"></div>
				<div class="right_middle">
					<div class="wenzi"><b>发表文字</b></div>
					<div class="form">
                                                <form class="formt" action="<{$url}>/insert" method="post">
                                                        <div class="title"><b class="b1">标题</b><b class="b2">(可不填)</b></div>
							<div class="input"><input type="text" class="biaoti"  name="title" value="<{$title}>"></div>
                                                        <input type="hidden" class="systagval" name="systag_id" value="">
                                                        <input type="hidden" name="type" value="1">
                                                        <input type="hidden" name="tags" class="stags" value="">
                                                        <div class="content"><b>内容</b></div>
                                                        <div class="textarea">
								<textarea name="content" class="contenttext" rows="5" cols="30"><{$content}></textarea><br>
                                                                        <{$editor}>
                                                        </div>
                                                        <div class="button">
                                                                <div class="cancle"></div>
                                                                <div class="submit"><input type="submit"  name="sub" value=""></div>
                                                        </div>
						</form>
					</div>
				</div>
				<div class="right_bottom"></div>
			</div>
			<div class="left">
				<div class="left_top"></div>
				<div class="left_middle">
					<div class="tag">
						<div class="taga" onclick="xitag()"><button></button></div>
						<div class="tagb">
							<ul class="ul">
							</ul>
							<div style="width:200px;float:left;"><input class="tags" type="text" name="tagaa" value="最多三个自定义标签，输完后回车"></div>
						</div>
						
                                        </div>
                                        <div class="tagsval" style="display:none"></div>
                                        <div class="xitag">
                                                <{section loop=$data name="ls"}>
                                                        <a href="javascript:;" onclick="systag(<{$data[ls].systag_id}>)" class="systag"><{$data[ls].systag_name}></a>
                                                <{/section}>
                                        </div>	
				</div>
				<div class="left_bottom"></div>
			</div>
		</div>
		<div class="tandi"></div>
		<div class="tanshang">
			<div class="divcontent" style="margin-left:20px;margin-top:20px;"></div>
			<div onclick="none()" class="close" ></div>
		</div>	
	</body>
        <script src="<{$res}>/js/article.js"></script>
        <script type="text/javascript" charset="utf-8">
                $(".main").fadeIn("slow");
        </script>
</html>
