<{include file="public/header.htm"}>
<link rel="stylesheet" type="text/css" href="<{$res}>/css/issue_music.css">
<{include file="public/head.htm"}>
	<body id="body">
		<div class="main">
			<div class="right">
				<div class="right_top"></div>
				<div class="right_middle">
					<div class="wenzi"><b>发布音乐</b></div>
					<div class="form">
                                                <form class="formt" action="<{$url}>/insert" method="post">
                                                        <div class="title"><b class="b1 b2">引用</b>&nbsp;&nbsp;<b style="font-size:14px;font-weight:normal;color:#5C5C5C">(虾米音乐如:http://www.xiami.com/song/123456789)</b></div>
                                                        <div class="input"><input type="text" class="biaoti" name="sound" value=""></div>
                                                        <input type="hidden" class="systagval" name="systag_id" value="">
                                                        <input type="hidden" name="type" value="3">
                                                        <input type="hidden" name="tags" class="stags" value="">
                                                        <div class="title2"><a class="b1 b3"  href="javascript:;" style="width:100px;cusor:pointer;text-decoration:none">添加描述</a></div>

                                                        <div class="textarea">
                                                        	<textarea name="content" rows="5" cols="30"></textarea><br>
	                                                	<{$editor}>
                                                        </div>
						        <div class="button">
							        <div class="cancle"></div>
						        	<div class="submit"><input type="submit"  name="sub" value=""></div>
					        	</div>
						</form>
					</div>
				</div>
				<div class="right_bottom"></div>
			</div>
			<div class="left">
				<div class="left_top"></div>
				<div class="left_middle">
					<div class="tag">
						<div class="taga" onclick="xitag()"><button></button></div>
						<div class="tagb">
							<ul class="ul">
							</ul>
							<div style="width:200px;float:left;"><input class="tags" type="text" name="" value="请输入标签，输入完后回车"></div>
						</div>
						
                                        </div>
                                        <div class="tagsval" style="display:none"></div>
                                        <div class="xitag">
                                                <{section loop=$data name="ls"}>
                                                        <a href="javascript:;" onclick="systag(<{$data[ls].systag_id}>)" class="systag"><{$data[ls].systag_name}></a>
                                                <{/section}>
                                        </div>	
	
				</div>
				<div class="left_bottom"></div>
			</div>
		</div>
		<div class="tandi"></div>
		<div class="tanshang">
			<div class="divcontent" style="margin-left:20px;margin-top:20px;"></div>
			<div onclick="none()" class="close" ></div>
		</div>	
	</body>
	<script src="<{$res}>/js/music.js"></script>
	<script>
		$(".b3").click( function () { 
			$(".textarea").slideToggle("slow");
        });

	</script>

</html>


