		<{include file="public/header.htm"}>
		<link rel="stylesheet" href="<{$res}>/css/attentionnum.css" type="text/css" />
		<link rel="stylesheet" href="<{$res}>/css/list.css" type="text/css" />
		<script>var res="<{$res}>";</script>
		<script src="<{$res}>/js/list.js"></script>
		<{include file="public/head.htm"}>
	</head>
	<body>
		<!--内容部分-->
		<div class="attentionnum_content">
			<!--内容左边部分-->
			<div class="attentionnum_content_left">
				<!--标题部分-->
				<div class="attentionnum_content_left_search">
					<div class="attentionnum_content_left_search_word">
						<div class="attentionnum_content_left_search_word_title"><span></span>访问统计</div><br>
						<div class="attentionnum_content_left_search_word_content"><{$session.visited_num}>人访问了我的博客</div>
					</div>
					<!--搜索表单部分-->
					<div class="attentionnum_content_left_search_form">
						<div class="attentionnum_content_left_search_form_button">
							<input id="attentionnum_content_left_search_form_button" type="button" name="button" value="">
						</div>
						<div class="attentionnum_content_left_search_form_text">
							<input id="attentionnum_content_left_search_form_text" type="text" name="text" value="">
						</div>
					</div>
					<{if !empty($data['count'])}>
					<div class="attentionnum_content_left_search_attention">
						<div class="visited">
							<div class="total">
								<span style=""><{$session.visited_num}>&nbsp;&nbsp;|&nbsp;&nbsp;总PV</span><span style="margin-left:70px;">占全年的百分比</span>
							</div>
							<div class="date">
								<div class="day">
									<span>日访问量</span>
									<span style="margin-left:170px;font-size:18px;"><{$day}>%</span>
								</div>
								<div class="week">
									<span>周访问量</span>
									<span style="margin-left:170px;font-size:18px;"><{$week}>%</span>
								</div>
								<div class="month">
									<span>月访问量</span>
									<span style="margin-left:170px;font-size:18px;"><{$month}>%</span>
								</div>
								<div class="year">
									<span>年访问量</span>
									<span style="margin-left:170px;font-size:18px;"><{$year}>%</span>
								</div>
							</div>

						</div>
					</div>
					<{else}>
						<div class="" style="float:left;width:180px;margin:50px 250px;" >
							<img src="<{$res}>/images/null.png" alt="" />
							<div style="float:left;font-size:14px;font-weigth:bold;color:#144466;margin-top:10px;">哦NO!还没有好友访问您的blog哦~~</div>
						</div> 
					<{/if}>
				</div>
			</div>
			<!--右边列表部分-->
			<{include file="public/list.htm"}>
		</div>
	</body>
</html>


